@import '../variables/variables.scss';

.footer {
    margin-top: auto;
    height: $footer_height;
    padding: 0 20px;
    background-color: $dark_blue;
    color: $white;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}